.wrap {
    display: flex;
    background-color: #f5f5f5;
    position: relative;
    .decoration {
        width: 920px;
        transform: rotate(90deg);
        position: absolute;
        top: 405px;
        right: -391px;
        line-height: 1;
        overflow: hidden;
        z-index: 1;
        // -webkit-transform: translate(-50%, -50%);
        // transform: translate(-50%, -50%);
        p {
            font-size: 138px;
            font-weight: bold;
            color: #ffffff;
        }
    }
    main {
        width: 100%;
        margin: 40px 40px 0px 40px;
        // position: relative;
        overflow: hidden;
        z-index: 9;
        section {
            position: relative;
        }
        form {
            input {
                width: 320px;
                // height: 35px;
                padding: 8px 14px;
                margin-bottom: 20px;
                border-radius: 24px;
                background: #f5f5f5;
                box-shadow:
                    6px 6px 12px 0px rgba(208, 208, 208, 0.7) inset,
                    -6px -6px 12px 0px rgba(255, 255, 255, 0.7) inset;
                border: none;
                display: block;
                box-sizing: border-box;
                font-size: 16px;
            }
            input.required {
                &::placeholder {
                    color: #ff5a5f;
                }
            }
            .complete {
                max-width: 996px;
                width: 100%;
                background: none;
            }
            .cmp_box {
                max-width: 996px;
                width: 83%;
                padding: 24px 28px 0px 28px;
                margin-top: 40px;
                margin-bottom: 80px;
                border-radius: 24px;
                background: #e9eaf0;
                box-shadow:
                    18px 18px 36px 0px rgba(208, 208, 208, 0.7),
                    -18px -18px 36px 0px rgba(255, 255, 255, 0.7);
                border: none;
                display: block;
                flex-direction: column; /* 縦方向に子要素を配置 */
                align-items: center; /* 横方向中央に子要素を配置 */
                box-sizing: border-box;
                overflow: hidden;
                input {
                    box-shadow: none;
                }
                input.complete {
                }
                .complete_disp {
                    font-size: 16px;
                    margin-right: 32px;
                    margin-bottom: 24px;
                    font-weight: bold;
                    color: #757e95;
                    float: left;
                    width: fit-content;
                }
                .cmp_in {
                    margin-bottom: 20px;
                    display: flex;
                }
                .cmp_func {
                    margin-bottom: 24px;
                    display: flex;
                    float: left;
                    p {
                        display: flex;
                        align-items: center;
                        line-height: 1;
                        cursor: pointer;
                        &:not(:first-child) {
                            margin-left: 16px;
                        }
                        input {
                            cursor: pointer;
                        }
                    }
                    span {
                        margin-right: 8px;
                    }
                }
                input.submit {
                    width: auto;
                    margin-bottom: 0;
                    padding: 0;
                    background: none;
                    color: #757e95;
                }
            }
        }
        input[type="submit"] {
            cursor: pointer;
            border-radius: 24px;
            background: #f5f5f5;
            color: #757e95;
            box-shadow:
                6px 6px 12px 0px rgba(208, 208, 208, 0.7),
                -6px -6px 12px 0px rgba(255, 255, 255, 0.7);
        }
        form.btn_two {
            display: flex;
            input[type="submit"] {
                margin-left: 24px;
            }
        }
        .lib_btn {
            width: 100%;
            margin-bottom: 120px;
            display: flex;
            a {
                display: block;
                cursor: pointer;
                border-radius: 24px;
                background: #f5f5f5;
                color: #757e95;
                box-shadow:
                    6px 6px 12px 0px rgba(208, 208, 208, 0.7),
                    -6px -6px 12px 0px rgba(255, 255, 255, 0.7);
                width: 320px;
                padding: 8px 14px;
                margin-bottom: 20px;
                border: none;
                box-sizing: border-box;
                font-size: 16px;
                text-align: center;
                &:last-child {
                    margin-left: 24px;
                }
            }
        }

        .message_active {
            padding: 28px 40px;
            width: 463px;
            flex-shrink: 0;
            border-radius: 24px;
            background: #f5f5f5;
            box-shadow:
                18px 18px 36px 0px rgba(208, 208, 208, 0.7),
                -18px -18px 36px 0px rgba(255, 255, 255, 0.7);
            color: #757e95;
            z-index: 99;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            h2 {
                text-align: center;
                font-weight: bold;
                font-size: 18px;
                margin-bottom: 24px;
            }
            p {
                font-size: 16px;
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
            .close {
                position: absolute;
                right: 22px;
                top: -19px;
                cursor: pointer;
                &:before,
                &:after {
                    content: "";
                    background-color: #757e95;
                    width: 25px;
                    height: 3px;
                    display: block;
                    position: absolute;
                }
                &:before {
                    transform: rotate(45deg);
                }
                &:after {
                    transform: rotate(-45deg);
                }
            }
        }
    }
    .common_ttl {
        font-size: 20px;
        margin-bottom: 32px;
        font-weight: bold;
    }
    .form_des {
        margin-bottom: 40px;
        p {
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }

    .other_pattern {
        margin-bottom: 48px;
        display: flex;
        flex-wrap: wrap;
        .other_box {
            width: 240px;
            height: 135px;
            padding: 24px;
            margin-right: 32px;
            margin-bottom: 32px;
            border-radius: 24px;
            font-weight: normal;
            display: block;
            background: #f5f5f5;
            box-shadow:
                18px 18px 36px 0px rgba(208, 208, 208, 0.7),
                -18px -18px 36px 0px rgba(255, 255, 255, 0.7);
            box-sizing: border-box;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            .box_num {
                font-size: 20px;
                margin-bottom: 16px;
                text-align: center;
                line-height: 1;
            }
            .box_ttl {
                font-size: 16px;
                text-align: center;
                // text-decoration: underline;
            }
            &:hover {
                // opacity: 0.7;
                background: #e9eaf0;
            }
        }
        .other_box.act {
            background: #e9eaf0;
        }
    }
    #response-message {
        margin-top: 32px;
        display: flex;
        flex-wrap: wrap;
        .lib_parent {
            margin-right: 60px;
            width: 320px;
            border-radius: 24px;
            background: #f5f5f5;
            box-shadow:
                18px 18px 36px 0px rgba(208, 208, 208, 0.7),
                -18px -18px 36px 0px rgba(255, 255, 255, 0.7);
            margin-bottom: 50px;
            margin-left: 0px;
            padding: 28px 20px;
            box-sizing: border-box;
        }
        .lib_cont {
            display: flex;
            word-break: break-all;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
        .lib_child1 {
            min-width: 84px;
        }
        .lib_child2 {
            margin-left: 5px;
        }
    }
}

@media screen and (max-width: 768px) {
    .wrap {
        display: block;
        .decoration {
            display: none;
            // top: 1045px;
        }
        main {
            width: 100%;
            margin: 160px 0px 0px 0px;
            padding: 0px 20px;
            box-sizing: border-box;
            form {
                input {
                    width: 100%;
                }
                .cmp_box {
                    width: 100%;
                }
            }
        }
        .other_pattern {
            justify-content: space-between;
            .other_box {
                width: 48%;
                height: auto;
                margin-right: 0px;
            }
        }
        #response-message {
            display: block;
            .lib_parent {
                width: 100%;
                margin-right: 0px;
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .wrap {
        main {
            form.btn_two {
                display: block;
                input[type="submit"] {
                    margin-left: 0px;
                }
            }
        }
    }
}
