@charset "UTF-8";
.wrap {
  display: flex;
  background-color: #f5f5f5;
  position: relative;
}
.wrap .decoration {
  width: 920px;
  transform: rotate(90deg);
  position: absolute;
  top: 405px;
  right: -391px;
  line-height: 1;
  overflow: hidden;
  z-index: 1;
}
.wrap .decoration p {
  font-size: 138px;
  font-weight: bold;
  color: #ffffff;
}
.wrap main {
  width: 100%;
  margin: 40px 40px 0px 40px;
  overflow: hidden;
  z-index: 9;
}
.wrap main section {
  position: relative;
}
.wrap main form input {
  width: 320px;
  padding: 8px 14px;
  margin-bottom: 20px;
  border-radius: 24px;
  background: #f5f5f5;
  box-shadow: 6px 6px 12px 0px rgba(208, 208, 208, 0.7) inset, -6px -6px 12px 0px rgba(255, 255, 255, 0.7) inset;
  border: none;
  display: block;
  box-sizing: border-box;
  font-size: 16px;
}
.wrap main form input.required::-moz-placeholder {
  color: #ff5a5f;
}
.wrap main form input.required::placeholder {
  color: #ff5a5f;
}
.wrap main form .complete {
  max-width: 996px;
  width: 100%;
  background: none;
}
.wrap main form .cmp_box {
  max-width: 996px;
  width: 83%;
  padding: 24px 28px 0px 28px;
  margin-top: 40px;
  margin-bottom: 80px;
  border-radius: 24px;
  background: #e9eaf0;
  box-shadow: 18px 18px 36px 0px rgba(208, 208, 208, 0.7), -18px -18px 36px 0px rgba(255, 255, 255, 0.7);
  border: none;
  display: block;
  flex-direction: column; /* 縦方向に子要素を配置 */
  align-items: center; /* 横方向中央に子要素を配置 */
  box-sizing: border-box;
  overflow: hidden;
}
.wrap main form .cmp_box input {
  box-shadow: none;
}
.wrap main form .cmp_box .complete_disp {
  font-size: 16px;
  margin-right: 32px;
  margin-bottom: 24px;
  font-weight: bold;
  color: #757e95;
  float: left;
  width: -moz-fit-content;
  width: fit-content;
}
.wrap main form .cmp_box .cmp_in {
  margin-bottom: 20px;
  display: flex;
}
.wrap main form .cmp_box .cmp_func {
  margin-bottom: 24px;
  display: flex;
  float: left;
}
.wrap main form .cmp_box .cmp_func p {
  display: flex;
  align-items: center;
  line-height: 1;
  cursor: pointer;
}
.wrap main form .cmp_box .cmp_func p:not(:first-child) {
  margin-left: 16px;
}
.wrap main form .cmp_box .cmp_func p input {
  cursor: pointer;
}
.wrap main form .cmp_box .cmp_func span {
  margin-right: 8px;
}
.wrap main form .cmp_box input.submit {
  width: auto;
  margin-bottom: 0;
  padding: 0;
  background: none;
  color: #757e95;
}
.wrap main input[type=submit] {
  cursor: pointer;
  border-radius: 24px;
  background: #f5f5f5;
  color: #757e95;
  box-shadow: 6px 6px 12px 0px rgba(208, 208, 208, 0.7), -6px -6px 12px 0px rgba(255, 255, 255, 0.7);
}
.wrap main form.btn_two {
  display: flex;
}
.wrap main form.btn_two input[type=submit] {
  margin-left: 24px;
}
.wrap main .lib_btn {
  width: 100%;
  margin-bottom: 120px;
  display: flex;
}
.wrap main .lib_btn a {
  display: block;
  cursor: pointer;
  border-radius: 24px;
  background: #f5f5f5;
  color: #757e95;
  box-shadow: 6px 6px 12px 0px rgba(208, 208, 208, 0.7), -6px -6px 12px 0px rgba(255, 255, 255, 0.7);
  width: 320px;
  padding: 8px 14px;
  margin-bottom: 20px;
  border: none;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
}
.wrap main .lib_btn a:last-child {
  margin-left: 24px;
}
.wrap main .message_active {
  padding: 28px 40px;
  width: 463px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #f5f5f5;
  box-shadow: 18px 18px 36px 0px rgba(208, 208, 208, 0.7), -18px -18px 36px 0px rgba(255, 255, 255, 0.7);
  color: #757e95;
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrap main .message_active h2 {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 24px;
}
.wrap main .message_active p {
  font-size: 16px;
}
.wrap main .message_active p:not(:last-child) {
  margin-bottom: 20px;
}
.wrap main .message_active .close {
  position: absolute;
  right: 22px;
  top: -19px;
  cursor: pointer;
}
.wrap main .message_active .close:before, .wrap main .message_active .close:after {
  content: "";
  background-color: #757e95;
  width: 25px;
  height: 3px;
  display: block;
  position: absolute;
}
.wrap main .message_active .close:before {
  transform: rotate(45deg);
}
.wrap main .message_active .close:after {
  transform: rotate(-45deg);
}
.wrap .common_ttl {
  font-size: 20px;
  margin-bottom: 32px;
  font-weight: bold;
}
.wrap .form_des {
  margin-bottom: 40px;
}
.wrap .form_des p:not(:last-child) {
  margin-bottom: 16px;
}
.wrap .other_pattern {
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
}
.wrap .other_pattern .other_box {
  width: 240px;
  height: 135px;
  padding: 24px;
  margin-right: 32px;
  margin-bottom: 32px;
  border-radius: 24px;
  font-weight: normal;
  display: block;
  background: #f5f5f5;
  box-shadow: 18px 18px 36px 0px rgba(208, 208, 208, 0.7), -18px -18px 36px 0px rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  transition: all 0.2s ease;
}
.wrap .other_pattern .other_box .box_num {
  font-size: 20px;
  margin-bottom: 16px;
  text-align: center;
  line-height: 1;
}
.wrap .other_pattern .other_box .box_ttl {
  font-size: 16px;
  text-align: center;
}
.wrap .other_pattern .other_box:hover {
  background: #e9eaf0;
}
.wrap .other_pattern .other_box.act {
  background: #e9eaf0;
}
.wrap #response-message {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
}
.wrap #response-message .lib_parent {
  margin-right: 60px;
  width: 320px;
  border-radius: 24px;
  background: #f5f5f5;
  box-shadow: 18px 18px 36px 0px rgba(208, 208, 208, 0.7), -18px -18px 36px 0px rgba(255, 255, 255, 0.7);
  margin-bottom: 50px;
  margin-left: 0px;
  padding: 28px 20px;
  box-sizing: border-box;
}
.wrap #response-message .lib_cont {
  display: flex;
  word-break: break-all;
}
.wrap #response-message .lib_cont:not(:last-child) {
  margin-bottom: 20px;
}
.wrap #response-message .lib_child1 {
  min-width: 84px;
}
.wrap #response-message .lib_child2 {
  margin-left: 5px;
}

@media screen and (max-width: 768px) {
  .wrap {
    display: block;
  }
  .wrap .decoration {
    display: none;
  }
  .wrap main {
    width: 100%;
    margin: 160px 0px 0px 0px;
    padding: 0px 20px;
    box-sizing: border-box;
  }
  .wrap main form input {
    width: 100%;
  }
  .wrap main form .cmp_box {
    width: 100%;
  }
  .wrap .other_pattern {
    justify-content: space-between;
  }
  .wrap .other_pattern .other_box {
    width: 48%;
    height: auto;
    margin-right: 0px;
  }
  .wrap #response-message {
    display: block;
  }
  .wrap #response-message .lib_parent {
    width: 100%;
    margin-right: 0px;
  }
}
@media screen and (max-width: 500px) {
  .wrap main form.btn_two {
    display: block;
  }
  .wrap main form.btn_two input[type=submit] {
    margin-left: 0px;
  }
}/*# sourceMappingURL=style.css.map */